In [1]:
# Importing Pandas.

import pandas as pd
import numpy as np

In [2]:
hd_df= pd.read_csv("housing_data.csv")
hd_df

# Speciy the path of the CSV file - not going to work in lab.
# csv_path = r"path\to\your\file.csv
# sf_csv = pd.read_csv(csv_path)
# excel_xlx = pd.read_xlx(xlx_path)

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,SC60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,SC20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,SC60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,SC70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,SC60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,SC60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Aug,2007,WD,Normal,175000
1456,1456,SC20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No,MnPrv,No,0,Feb,2010,WD,Normal,210000
1457,1457,SC70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No,GdPrv,Shed,2500,May,2010,WD,Normal,266500
1458,1458,SC20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Apr,2010,WD,Normal,142125
1459,1459,SC20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Jun,2008,WD,Normal,147500

In [3]:
# Series - 1D
# Create a series from a list

series = pd.Series([1,2,3])
print(series)

0    1
1    2
2    3
dtype: int64

In [6]:
# Creating a index

index = ["a","b","c"]

series_index = pd.Series(series, index = index)
print(series_index)

a   NaN
b   NaN
c   NaN
dtype: float64

In [10]:
# Creating a pandas series from a dictionary

data_dict = {"a":1, 'b':2,'c':3,'d':4,'e':5}
series_from_dict = pd.Series(data_dict)
print(f'Dict: \n {series_from_dict}')

Dict:
 a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
# Creating pandas series from a list

data = [1,2,3,4,5]
series = pd.Series(data)
print(f'list: \n{series}\n\n')

# Creating pandas series from specific index

indexx = ['a','b','c','d','e']
series_index = pd.Series(data, index = indexx)
print(f'indexed series :\n{series_index}')

list:
0    1
1    2
2    3
3    4
4    5
dtype: int64


indexed series :
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [26]:
series_index.head(2)

a    1
b    2
dtype: int64

In [27]:
series_index.tail(3)

c    3
d    4
e    5
dtype: int64

In [29]:
series_index.shape

(5,)

In [31]:
series_index.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [33]:
series_index.unique()

array([1, 2, 3, 4, 5])

In [34]:
series.sort_values()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [36]:
series_index.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [37]:
series_index.fillna(99)   #fills 99 for na values

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [38]:
data = {"a":10, 'b':20,'c':30,'d':40,'e':50}
series = pd.Series(data)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [39]:
series[series>30]

d    40
e    50
dtype: int64

In [42]:
series<20

a     True
b    False
c    False
d    False
e    False
dtype: bool

In [43]:
series[series == 20]

b    20
dtype: int64

In [44]:
series[series != 20]

a    10
c    30
d    40
e    50
dtype: int64

In [50]:
series[(series > 20) & (series <50) ]

c    30
d    40
dtype: int64

In [56]:
series[series.isin([20,40])]

b    20
d    40
dtype: int64

In [60]:
# Select element using string methods (if applicable)

string_series = pd.Series(['apple','banana','cherry','date','elderberry'])

# selected_by_string_method = string_series[string_series.str.startswith('b')]

string_series[string_series.str.startswith('b')]
# print(selected_by_string_method)

1    banana
dtype: object

In [61]:
series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [62]:
series.loc[['a','c','e']]  #slicing using indexing

a    10
c    30
e    50
dtype: int64

In [64]:
series.iloc[2:5]       #iloc = integer loc

c    30
d    40
e    50
dtype: int64

In [66]:
#################  Practice ######################

sales_data = [120,150,130,170,160,180,140]
days_of_week = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

# Create Pandas series for sales data
pd_sales = pd.Series(sales_data)
print(pd_sales)

0    120
1    150
2    130
3    170
4    160
5    180
6    140
dtype: int64

In [67]:
# Assign days of the week as index

sales_index = pd.Series(sales_data, index = days_of_week)
print(sales_index)

Monday       120
Tuesday      150
Wednesday    130
Thursday     170
Friday       160
Saturday     180
Sunday       140
dtype: int64

In [70]:
# Access sales data for specific days using index lables - Monday

sales_index.loc["Monday"]

print("Sales on Monday :", sales_index["Monday"])

Sales on Monday : 120

In [73]:
# Calculate total sales of the week.

sales_index.sum()

np.int64(1050)

In [74]:
# Calculate the average sales

sales_index.mean()

np.float64(150.0)

In [75]:
# Calculate the max sales

sales_index.max()

np.int64(180)

In [77]:
# sales greater than 170

# sales_index > 170
sales_index[sales_index > 170]

Saturday    180
dtype: int64

In [5]:
# Creating a date Range

Date_range = pd.date_range(start = '2024-06-01', end = '2024-06-30', freq ='D')
print(Date_range)

DatetimeIndex(['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04',
               '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-08',
               '2024-06-09', '2024-06-10', '2024-06-11', '2024-06-12',
               '2024-06-13', '2024-06-14', '2024-06-15', '2024-06-16',
               '2024-06-17', '2024-06-18', '2024-06-19', '2024-06-20',
               '2024-06-21', '2024-06-22', '2024-06-23', '2024-06-24',
               '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28',
               '2024-06-29', '2024-06-30'],
              dtype='datetime64[ns]', freq='D')

In [3]:
Date_range.day

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
      dtype='int32')

In [17]:
# Resampling Time Series data

data = {
    'Date':pd.date_range(start = '2024-01-01',periods = 10, freq ='h'),
    'Value1': range(10),
    'Value2': range(10,20)
}

df = pd.DataFrame(data)

# Creating a timedelta of 3 days
delta = pd.Timedelta(days=3)

In [20]:
# Performing arithmethic opertions with timedeltas

df['Date'] = pd.to_datetime(df['Date'])
df['FutureDate'] = df['Date'] + pd.Timedelta(weeks = 2, days=3, hours=12)
print(df[['Date','FutureDate']])

                 Date          FutureDate
0 2024-01-01 00:00:00 2024-01-18 12:00:00
1 2024-01-01 01:00:00 2024-01-18 13:00:00
2 2024-01-01 02:00:00 2024-01-18 14:00:00
3 2024-01-01 03:00:00 2024-01-18 15:00:00
4 2024-01-01 04:00:00 2024-01-18 16:00:00
5 2024-01-01 05:00:00 2024-01-18 17:00:00
6 2024-01-01 06:00:00 2024-01-18 18:00:00
7 2024-01-01 07:00:00 2024-01-18 19:00:00
8 2024-01-01 08:00:00 2024-01-18 20:00:00
9 2024-01-01 09:00:00 2024-01-18 21:00:00

In [21]:
df.set_index('Date' , inplace = True)
df_resampled = df.select_dtypes(include = 'number').resample('D').sum()
print(df_resampled)

            Value1  Value2
Date
2024-01-01      45     145

In [22]:
# Label Encoding

df = pd.DataFrame({'Category':['A','B','A','C','B','A']})
df['Category_labelencoded'] = df['Category'].astype('category').cat.codes

In [23]:
df.head()

  Category  Category_labelencoded
0        A                      0
1        B                      1
2        A                      0
3        C                      2
4        B                      1

In [ ]:
# Problem Statement:

# Analyze the housing dataset with a focus on handling date and categorical
# data to gain insight into house sales over time and influence of house
# characteristics on its price

In [119]:
# Load the housing data set

HD = pd.read_csv('housing_data.csv')
# HD = pd.DataFrame(HD)
print(HD)

      Unnamed: 0 MSSubClass MSZoning  LotFrontage  LotArea Street Alley  \
0              0       SC60       RL         65.0     8450   Pave   NaN
1              1       SC20       RL         80.0     9600   Pave   NaN
2              2       SC60       RL         68.0    11250   Pave   NaN
3              3       SC70       RL         60.0     9550   Pave   NaN
4              4       SC60       RL         84.0    14260   Pave   NaN
...          ...        ...      ...          ...      ...    ...   ...
1455        1455       SC60       RL         62.0     7917   Pave   NaN
1456        1456       SC20       RL         85.0    13175   Pave   NaN
1457        1457       SC70       RL         66.0     9042   Pave   NaN
1458        1458       SC20       RL         68.0     9717   Pave   NaN
1459        1459       SC20       RL         75.0     9937   Pave   NaN

     LotShape LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature  \
0         Reg         Lvl    AllPub  ...        0     No     No          No
1         Reg         Lvl    AllPub  ...        0     No     No          No
2         IR1         Lvl    AllPub  ...        0     No     No          No
3         IR1         Lvl    AllPub  ...        0     No     No          No
4         IR1         Lvl    AllPub  ...        0     No     No          No
...       ...         ...       ...  ...      ...    ...    ...         ...
1455      Reg         Lvl    AllPub  ...        0     No     No          No
1456      Reg         Lvl    AllPub  ...        0     No  MnPrv          No
1457      Reg         Lvl    AllPub  ...        0     No  GdPrv        Shed
1458      Reg         Lvl    AllPub  ...        0     No     No          No
1459      Reg         Lvl    AllPub  ...        0     No     No          No

     MiscVal MoSold YrSold  SaleType  SaleCondition  SalePrice
0          0    Feb   2008        WD         Normal     208500
1          0    May   2007        WD         Normal     181500
2          0    Sep   2008        WD         Normal     223500
3          0    Feb   2006        WD        Abnorml     140000
4          0    Dec   2008        WD         Normal     250000
...      ...    ...    ...       ...            ...        ...
1455       0    Aug   2007        WD         Normal     175000
1456       0    Feb   2010        WD         Normal     210000
1457    2500    May   2010        WD         Normal     266500
1458       0    Apr   2010        WD         Normal     142125
1459       0    Jun   2008        WD         Normal     147500

[1460 rows x 81 columns]

In [120]:
# How to view the data

HD.head()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,SC60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,Feb,2008,WD,Normal,208500
1,1,SC20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No,No,No,0,May,2007,WD,Normal,181500
2,2,SC60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Sep,2008,WD,Normal,223500
3,3,SC70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Feb,2006,WD,Abnorml,140000
4,4,SC60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No,No,No,0,Dec,2008,WD,Normal,250000

In [121]:
HD.columns

Index(['Unnamed: 0', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea',
       'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [122]:
# Convert the yearbuild and yearremodadd columns to date time format

HD['YearBuilt'] = pd.to_datetime (HD['YearBuilt'],format = '%Y')
print(HD['YearBuilt'])

HD['YearRemodAdd'] = pd.to_datetime (HD['YearRemodAdd'],format = '%Y')
print(HD['YearRemodAdd'])

0      2003-01-01
1      1976-01-01
2      2001-01-01
3      1915-01-01
4      2000-01-01
          ...
1455   1999-01-01
1456   1978-01-01
1457   1941-01-01
1458   1950-01-01
1459   1965-01-01
Name: YearBuilt, Length: 1460, dtype: datetime64[ns]
0      2003-01-01
1      1976-01-01
2      2002-01-01
3      1970-01-01
4      2000-01-01
          ...
1455   2000-01-01
1456   1988-01-01
1457   2006-01-01
1458   1996-01-01
1459   1965-01-01
Name: YearRemodAdd, Length: 1460, dtype: datetime64[ns]

In [123]:
# Extract the useful component from date like year month and day

HD['YearBuilt'] = HD['YearBuilt'].dt.year
print(HD['YearBuilt'])

0       2003
1       1976
2       2001
3       1915
4       2000
        ...
1455    1999
1456    1978
1457    1941
1458    1950
1459    1965
Name: YearBuilt, Length: 1460, dtype: int32

In [124]:
# HD['YearBuilt'] = HD['YearBuilt'].dt.month
# print(HD['YearBuilt'])

In [132]:
# Perform necessary sats opertions 'salesprice' ,'lotArea', mean and descriptive stats

HD['LotArea'].mean()

np.float64(10516.828082191782)

In [131]:
HD['SalePrice'].mean()

np.float64(180921.19589041095)

In [127]:
HD['LotArea'].describe()

count      1460.000000
mean      10516.828082
std        9981.264932
min        1300.000000
25%        7553.500000
50%        9478.500000
75%       11601.500000
max      215245.000000
Name: LotArea, dtype: float64

In [128]:
HD['SalePrice'].describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [130]:
HD[['LotArea','SalePrice']].mean()

LotArea       10516.828082
SalePrice    180921.195890
dtype: float64

In [133]:
HD[['LotArea','SalePrice']].describe()

             LotArea      SalePrice
count    1460.000000    1460.000000
mean    10516.828082  180921.195890
std      9981.264932   79442.502883
min      1300.000000   34900.000000
25%      7553.500000  129975.000000
50%      9478.500000  163000.000000
75%     11601.500000  214000.000000
max    215245.000000  755000.000000

In [138]:
# Count the number of occurrences of each category in categorical features

cat_var = HD.select_dtypes(include = ['object']).columns

In [140]:
# Count the number of occurrences of each category in numerical features

num_var=HD.select_dtypes(include = ['number']).columns

In [143]:
(HD[num_var])

,Unnamed: 0,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,YrSold,SalePrice
0,0,65.0,8450,7,5,2003,196.0,706,0,150,...,548,0,61,0,0,0,0,0,2008,208500
1,1,80.0,9600,6,8,1976,0.0,978,0,284,...,460,298,0,0,0,0,0,0,2007,181500
2,2,68.0,11250,7,5,2001,162.0,486,0,434,...,608,0,42,0,0,0,0,0,2008,223500
3,3,60.0,9550,7,5,1915,0.0,216,0,540,...,642,0,35,272,0,0,0,0,2006,140000
4,4,84.0,14260,8,5,2000,350.0,655,0,490,...,836,192,84,0,0,0,0,0,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,62.0,7917,6,5,1999,0.0,0,0,953,...,460,0,40,0,0,0,0,0,2007,175000
1456,1456,85.0,13175,6,6,1978,119.0,790,163,589,...,500,349,0,0,0,0,0,0,2010,210000
1457,1457,66.0,9042,7,9,1941,0.0,275,0,877,...,252,0,60,0,0,0,0,2500,2010,266500
1458,1458,68.0,9717,5,6,1950,0.0,49,1029,0,...,240,366,0,112,0,0,0,0,2010,142125
1459,1459,75.0,9937,5,6,1965,0.0,830,290,136,...,276,736,68,0,0,0,0,0,2008,147500

In [144]:
(HD[cat_var])

,MSSubClass,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,MoSold,SaleType,SaleCondition
0,SC60,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,RFn,TA,TA,Y,No,No,No,Feb,WD,Normal
1,SC20,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,RFn,TA,TA,Y,No,No,No,May,WD,Normal
2,SC60,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,RFn,TA,TA,Y,No,No,No,Sep,WD,Normal
3,SC70,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,Unf,TA,TA,Y,No,No,No,Feb,WD,Abnorml
4,SC60,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,RFn,TA,TA,Y,No,No,No,Dec,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,SC60,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,...,RFn,TA,TA,Y,No,No,No,Aug,WD,Normal
1456,SC20,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,...,Unf,TA,TA,Y,No,MnPrv,No,Feb,WD,Normal
1457,SC70,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,...,RFn,TA,TA,Y,No,GdPrv,Shed,May,WD,Normal
1458,SC20,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,Unf,TA,TA,Y,No,No,No,Apr,WD,Normal
1459,SC20,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Edwards,...,Fin,TA,TA,Y,No,No,No,Jun,WD,Normal

In [146]:
# find different LotShape category  and the count

HD['LotShape'].value_counts()

LotShape
Reg    925
IR1    484
IR2     41
IR3     10
Name: count, dtype: int64